.musicLabSection {
  position: relative;
  padding: 8rem 0;
  color: white;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contentWrapper {
  max-width: 64rem;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  background: var(--text-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.1;
}

.divider {
  width: 8rem;
  height: 0.25rem;
  margin: 0 auto 3rem;
  background: linear-gradient(90deg, #3b009b 0%, #b82dd4 100%);
  border-radius: 0.25rem;
}

.quoteBox {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  padding: 3rem 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.quoteBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
   background: linear-gradient(90deg, #3b009b 0%, #b82dd4 100%);
}

.quote {
  font-size: 1.3rem;
  line-height: 1.6;
  font-style: italic;
  color: #e0f2fe;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.quote::before,
.quote::after {
  content: '"';
  font-size: 4rem;
  color: #b82dd4;
  position: absolute;
  font-family: Georgia, serif;
  line-height: 1;
}

.quote::before {
  top: -1.5rem;
  left: -1.5rem;
}

.quote::after {
  bottom: -3rem;
  right: -1rem;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .musicLabSection {
    padding: 5rem 0;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .quote {
    font-size: 1.10rem;
  }
  
  .quoteBox {
    padding: 2rem 1.5rem;
  }
  
  .quote::before,
  .quote::after {
    font-size: 3rem;
  }
  
  .quote::before {
    top: -1rem;
    left: -0.5rem;
  }
  
  .quote::after {
    bottom: -2.5rem;
    right: -0.5rem;
  }
}
